@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/shared/assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  }
}
